[Unit]
Description=Jenkins Agent service
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/home/jenkins-agent/launch-jenkins-agent.sh
Type=simple

