[Unit]
Description=Jenkins Agent service
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/launch-jenkins-agent.sh
Type=simple

